html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: "Commissioner", sans-serif;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1 {
  color: #000;
  font-family: Commissioner;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: 88px; /* 110% */
}

p.hero-paragraph {
  color: #000;
  font-family: Commissioner;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}

.card-one .card-one-title {
  color: #FFF;
  font-family: Commissioner;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px; /* 110% */
}
.card-one span.red-highlighted-text {
  color: #F94F4F;
}
.card-one .card-one-paragraph {
  color: #FFF;
  font-family: Commissioner;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}
.card-one .card-one-link a {
  color: #F94F4F;
  font-family: Commissioner;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.card-one .card-one-link a:hover {
  color: #FF9393;
}
.card-one .card-one-link a:hover::after {
  background-color: #FF9393;
}
.card-one .card-one-link a::after {
  background-color: #F94F4F;
}

section.section-two .section-two-title-box h3 {
  color: #000;
  font-family: Commissioner;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px; /* 110% */
}

.card-two .low-contrast-num {
  color: #FFF;
  font-family: Commissioner;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: 88px; /* 110% */
  opacity: 0.25;
}
.card-two .card-two-title {
  color: #FFF;
  font-family: Commissioner;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px; /* 160% */
}
.card-two .card-two-paragraph {
  color: #FFF;
  font-family: Commissioner;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}

header {
  display: flex;
  gap: 409px;
  position: relative;
}

ul {
  width: 705px;
  height: 178px;
  list-style: none;
  display: flex;
  background-color: hsl(0, 93%, 64%);
  padding-top: 73px;
  padding-bottom: 73px;
  padding-left: 69px;
}
ul a {
  text-decoration: none;
}
ul .nav-link {
  color: #FFF;
  text-align: center;
  font-family: Commissioner;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  margin-right: 32px;
}
ul .nav-link:hover {
  font-weight: 700;
  cursor: pointer;
}

.logo {
  width: 161px;
  height: 30px;
  margin-left: 165px;
  margin-top: 76px;
}

.mobile-nav-icons {
  display: none;
}

.hero {
  background-image: url("/assets/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-position: right;
  height: 800px;
  padding-top: 112px;
  padding-left: 165px;
}

.hero-title-box {
  width: 730px;
  height: 273px;
}

.hero-paragraph-box {
  width: 540px;
  margin-top: 39px;
}

.hero-btn {
  border: none;
  margin-top: 48px;
}

.mobile-hero-img {
  display: none;
}

.section-one-mobile-image {
  display: none;
}

section.section-one {
  position: relative;
  height: 984px;
  background: url("/assets/desktop/image-strategic.jpg") lightgray 0px 0px/100% 100% no-repeat;
  background-size: 735px 984px;
}
section.section-one .card-one {
  background-color: #191921;
  width: 705px;
  height: 784px;
  margin-left: 735px;
  padding: 200px 141px 0px 154px;
}
section.section-one .card-one-title-box {
  width: 410px;
  height: 133px;
}
section.section-one .card-one-paragraph-box {
  width: 445px;
  margin-top: 43px;
  margin-bottom: 48px;
}
section.section-one .card-one-link a {
  position: relative;
}
section.section-one .card-one-link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
}
section.section-one .red-wavy-image {
  width: 135px;
  height: 61px;
  position: absolute;
  left: 668px;
  top: 234px;
  right: 637px;
  bottom: 489px;
}

section.section-two {
  display: flex;
  position: relative;
}
section.section-two .section-two-title-box {
  position: absolute;
  width: 540px;
  height: 192px;
  left: 165px;
  top: 200px;
  z-index: 2;
}
section.section-two .card-two {
  background-color: #F94F4F;
  position: absolute;
  width: 895px;
  height: 1100px;
  padding: 200px 106px 0 285px;
  top: -200px;
  left: 545px;
  z-index: 0;
}
section.section-two .card-two .card-two-part-one, section.section-two .card-two .card-two-part-two, section.section-two .card-two .card-two-part-three {
  width: 504px;
  height: 196px;
}
section.section-two .card-two .card-two-part-one, section.section-two .card-two .card-two-part-two {
  margin-bottom: 56px;
}
section.section-two .card-two .card-two-title-box {
  width: 445px;
  height: 32px;
  margin-top: -44px;
  margin-left: 59px;
  margin-bottom: 24px;
}
section.section-two .card-two .card-two-paragraph-box {
  width: 445px;
  height: 96px;
  margin-left: 59px;
}

.nav-btn {
  display: inline-block;
  width: 199px;
  height: 64px;
  color: #fff;
  background-color: #191921;
  font-family: Commissioner;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: none;
  width: 199px;
  height: 64px;
  margin-left: 17px;
  margin-top: -17px;
}
.nav-btn:hover {
  background-color: #434356;
  cursor: pointer;
}

.hero-btn {
  display: inline-block;
  width: 177px;
  height: 72px;
  color: #fff;
  background-color: #F94F4F;
  font-family: Commissioner;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.hero-btn:hover {
  background-color: #FF9393;
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    display: flex;
    gap: 130px;
  }
  ul {
    width: 438px;
    height: 178px;
    list-style: none;
    display: flex;
    padding-top: 73px;
    padding-bottom: 73px;
    padding-left: 33px;
  }
  ul .nav-link {
    color: #FFF;
    text-align: center;
    font-family: Commissioner;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
    margin-right: 20px;
  }
  ul .nav-link:hover {
    font-weight: 700;
    cursor: pointer;
  }
  .logo {
    width: 161px;
    height: 30px;
    margin-left: 39px;
    margin-top: 74px;
    margin-bottom: 74px;
  }
  .nav-btn {
    color: #FFF;
    text-align: center;
    font-family: Commissioner;
    font-size: 800;
    font-style: normal;
    font-weight: 800;
    line-height: 32px; /* 200% */
    width: 147px;
    height: 64px;
    margin-left: 8px;
    background-color: hsl(240, 14%, 11%);
    margin-top: -17px;
  }
  .nav-btn:hover {
    font-weight: 700;
    cursor: pointer;
  }
  .mobile-nav-icons {
    display: none;
  }
  .hero {
    background-image: url("/assets/tablet/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: right;
    height: 606px;
    padding-top: 77px;
    padding-left: 39px;
  }
  .hero-title-box {
    width: 398px;
    height: 181px;
  }
  .hero-title-box h1 {
    font-size: 56px;
    line-height: 56px; /* 110% */
  }
  .hero-paragraph-box {
    width: 398px;
    margin-top: 39px;
  }
  .hero-paragraph-box p.hero-paragraph {
    font-size: 15px;
    line-height: 25px; /* 177.778% */
  }
  .hero-btn {
    border: none;
    margin-top: 32px;
  }
  .mobile-hero-img {
    display: none;
  }
  section.section-one {
    position: relative;
    height: 658px;
    background: url("/assets/tablet/image-strategic.jpg") lightgray 0px 0px/100% 100% no-repeat;
    background-size: 378px 658px;
  }
  section.section-one .section-one-mobile-image {
    display: none;
  }
  section.section-one .card-one {
    width: 390px;
    height: 538px;
    margin-left: 378px;
    padding: 120px 40px 0px 69px;
  }
  section.section-one .card-one-title-box {
    width: 281px;
    height: 80px;
  }
  section.section-one .card-one-paragraph-box {
    width: 281px;
    height: 125px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  section.section-one .card-one-link a {
    position: relative;
  }
  section.section-one .card-one-link a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -9px;
    width: 100%;
    height: 2px;
  }
  section.section-one .red-wavy-image {
    width: 63px;
    height: 29px;
    position: absolute;
    left: 346px;
    top: 145px;
    right: 359px;
    bottom: 484px;
  }
  .card-one .card-one-title {
    color: #FFF;
    font-family: Commissioner;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px; /* 110% */
  }
  .card-one .card-one-paragraph {
    color: #FFF;
    font-family: Commissioner;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 177.778% */
    font-size: 15px;
  }
  .card-one .card-one-link a {
    font-size: 15px;
  }
  section.section-two {
    display: flex;
    position: relative;
  }
  section.section-two .section-two-title-box {
    position: absolute;
    width: 281px;
    height: 120px;
    left: 39px;
    top: 126px;
    z-index: 0;
  }
  section.section-two .card-two {
    background-color: #F94F4F;
    position: absolute;
    width: 438px;
    height: 797px;
    padding: 120px 40px 0 43px;
    top: -120px;
    left: 330px;
    z-index: 0;
  }
  section.section-two .card-two .card-two-part-one, section.section-two .card-two .card-two-part-two, section.section-two .card-two .card-two-part-three {
    width: 355px;
    height: 159px;
  }
  section.section-two .card-two .card-two-part-one, section.section-two .card-two .card-two-part-two {
    margin-bottom: 40px;
  }
  section.section-two .card-two .card-two-title-box {
    width: 334px;
    height: 25px;
    margin-top: -44px;
    margin-left: 16px;
    margin-bottom: 15px;
  }
  section.section-two .card-two .card-two-paragraph-box {
    width: 339px;
    height: 75px;
    margin-left: 16px;
  }
  section.section-two .section-two-title-box h3 {
    color: #000;
    font-family: Commissioner;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px; /* 110% */
  }
  .card-two .card-two-title {
    color: #FFF;
    font-family: Commissioner;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px; /* 160% */
  }
  .card-two .card-two-paragraph {
    color: #FFF;
    font-family: Commissioner;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 177.778% */
    font-size: 15px;
  }
}
@media (max-width: 375px) {
  ul {
    display: none;
    margin-bottom: 0;
  }
  .logo {
    width: 161px;
    height: 30px;
    margin-left: 24px;
    margin-top: 40px;
    margin-bottom: 21px;
  }
  .mobile-nav-icons {
    display: inline-block;
  }
  .hamburger-icon {
    margin-right: 24px;
    width: 24px;
    height: 18px;
    margin-top: 46px;
    opacity: 0.5;
  }
  .cross-icon {
    opacity: 0.5;
    display: none;
    width: 20px;
    height: 20px;
    margin-top: 46px;
    margin-right: 24px;
  }
  .menu-mobile {
    padding: 0;
    position: absolute;
    display: inline-block;
    top: 110px;
    left: 97px;
    right: 26px;
    width: 252px;
    height: 292px;
    background-color: #191921;
  }
  li a {
    display: inline-block;
  }
  li #about-link {
    margin: 32px 100px 0px 100px;
  }
  li #service-link {
    margin: 24px 96px 24px 96px;
  }
  li #project-link {
    margin: 0px 92px 24px 92px;
  }
  .nav-link {
    color: #FFF;
    text-align: center;
    font-family: Commissioner;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
  }
  .nav-link:hover {
    font-weight: 700;
    cursor: pointer;
  }
  .nav-btn {
    display: inline-block;
    width: 199px;
    height: 64px;
    color: #fff;
    background-color: #F94F4F;
    font-family: Commissioner;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 199px;
    height: 64px;
    margin-left: 27px;
    margin-right: 26px;
    margin-bottom: 28px;
  }
  .nav-btn:hover {
    background-color: #434356;
    cursor: pointer;
  }
  .mobile-hero-img {
    display: block;
    width: 375px;
    height: 250px;
    padding-top: 19px;
    padding-bottom: 31px;
  }
  .hero {
    background: none;
    width: 375px;
    height: 431px;
    padding-top: 25px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .hero-title-box {
    width: 327px;
    height: 129px;
  }
  .hero-title-box h1 {
    font-size: 40px;
    line-height: 40px; /* 110% */
  }
  .hero-paragraph-box {
    width: 327px;
    margin-top: 15px;
  }
  .hero-btn {
    margin-top: 40px;
  }
  section.section-one {
    position: relative;
    background: none;
  }
  section.section-one .section-one-mobile-image {
    margin-top: 46px;
    display: block;
    width: 375px;
    height: 200px;
  }
  section.section-one .card-one {
    background-color: #191921;
    width: 375px;
    height: 377px;
    margin-left: 0;
    padding: 72px 24px 0px 24px;
  }
  section.section-one .card-one-title-box {
    width: 327px;
    height: 40px;
  }
  section.section-one .card-one-paragraph-box {
    width: 327px;
    height: 100px;
    margin-top: 24px;
    margin-bottom: 40px;
  }
  section.section-one .red-wavy-image {
    width: 62px;
    height: 29px;
    position: absolute;
    left: 24px;
    top: 185px;
    right: 637px;
    bottom: 363px;
  }
}