@use '../base/variables';
@use '../base/mixins';

header{
   
    display : flex;
    gap : 409px;
    position : relative;
    border : 1px solid black;
}
ul{
    width : 705px;
    height : 178px;
    // border : 1px solid black;
    list-style: none;
     display : flex;
     background-color: variables.$primary-red-color;
     padding-top: 73px;
     padding-bottom: 73px;
     padding-left: 69px;

     a{
        text-decoration: none; //removes underline
       
     }

     .nav-link{
        @include mixins.nav-link-btns(16px, 400,700);
        margin-right: 32px;
     }
   
}
.logo{
    width : 161px;
    height : 30px;
    margin-left: 165px;
    margin-top: 76px;
}
.mobile-nav-icons{
    display : none;
} //for desktops, mobile navigation should not be visible
// .hamburger-icon{
//     display : none;
// }
// .cross-icon {
//     display :  none;
// }
