@use '../base/variables';
@use '../base/mixins';
.nav-btn{
    // @include mixins.nav-link-btns(800,800);
    @include mixins.button(inline-block,199px, #191921 ,64px,16px,  #fff,  #434356 );
    border : none;
    width : 199px;
    height : 64px;
    margin-left: 17px;
    // background-color: variables.$black-btn-color;
    margin-top: -17px; //padding top of the parent - margin of the child(offset reset)
    // padding : 23px 21px 41px 45px;
   
 }
 .hero-btn{
    @include mixins.button(inline-block, 177px, #F94F4F ,72px, 18px,#fff, #FF9393 );
 }
 .pair-arrow-btns{
   // border : 1px solid blue;
   display : flex;
   width: 96px;
   height: 40px;
   margin : 51px 474px 152px 165px;
   gap : 16px;
  
  
   .previous-btn:hover{
      cursor : pointer;
      circle,path{
         stroke : #FF9393;
      }
   }
   .next-btn:hover{
      cursor : pointer;
      circle,path{
         stroke : #FF9393;
      }
   }
}