
//button mixin has too many parameters
@mixin button($btn-display : inline-block, $btn-width : 140px, $btn-bg-color : #fff , $btn-height : 72px, $font-size : 18px, $text-color : #fff, $hover-bg : #FF9393 ){
    display : $btn-display;
    width : $btn-width;
    height : $btn-height;
    color : $text-color;
    background-color : $btn-bg-color;
    // color: $btn-color;
    font-family: Commissioner;
    font-size: $font-size;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    &:hover{
        background-color: $hover-bg;
        cursor: pointer;
    }
}

@mixin nav-link-btns($font-size: 16px, $initial-font-weight, $hover-font-weight : 700, $line-height : 32px){
    color: #FFF;
    text-align: center;
    font-family: Commissioner;
    font-size: $font-size;
    font-style: normal;
    font-weight: $initial-font-weight;
    line-height: $line-height; /* 200% */

    &:hover{
        font-weight: $hover-font-weight;
        cursor: pointer;
    }
}
//if it's a typography mixin, remove the width and height elements
// @mixin section-headings($text-container-width : 445px, $text-container-height : 192px, $text-color : #000){
@mixin section-headings($text-color : #000){
    color: $text-color;
    font-family: Commissioner;
    font-size: 56px;
    font-style: normal;
    font-weight: 800; //doesn't change
    line-height: 64px; /* 110% */
}

@mixin section-headings-tablet($text-color : #000){
    color: $text-color;
    font-family: Commissioner;
    font-size: 32px;
    font-style: normal;
    font-weight: 800; //doesn't change
    line-height: 40px; /* 110% */
}

@mixin all-paragraphs($text-color : #000, $line-height : 32px){
    color: $text-color;
    font-family: Commissioner;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: $line-height; /* 177.778% */
}
//card two mixin
@mixin card-two-titles($font-size : 20px){
    color: #FFF;
    font-family: Commissioner;
    font-size: $font-size;
    font-style: normal;
    font-weight: 800;
    line-height: 32px; /* 160% */
}


@mixin low-contrast-numbers(){
    color: #FFF;
    font-family: Commissioner;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: 88px; /* 110% */
    opacity: 0.25;
}