@use '../base/variables';
@use '../base/mixins';

//hero----------------start
h1{
    color: #000;
    font-family: Commissioner;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: 88px; /* 110% */
}
p.hero-paragraph{
    color: #000;
    font-family: Commissioner;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}
//hero-------------------end

//section one -----------------------start
.card-one{


.card-one-title{
   @include mixins.section-headings(#FFF);
}
span.red-highlighted-text{
    color : #F94F4F;
}
.card-one-paragraph{
    @include mixins.all-paragraphs(#FFF, 32px)
}
.card-one-link{
   
    a{
      
    color: #F94F4F;
    font-family: Commissioner;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
   
    &:hover{
        color: #FF9393;
    }
    &:hover::after{
        background-color: #FF9393;
    }
   
    }
    a::after{
        background-color: #F94F4F;
    }
   
   
}
}
//section one ----------------------end 

//section two-----------------------start
section.section-two{
    .section-two-title-box{
        h3{
            @include mixins.section-headings(#000)
        }
       
    }
}
.card-two{
    .low-contrast-num{ //the low con numbers have all the same typography
        @include mixins.low-contrast-numbers;
    }
    .card-two-title{ //for each heading in card two
        @include mixins.card-two-titles(20px);
    }
    .card-two-paragraph{ //for each paragraph in card two
        @include mixins.all-paragraphs(#FFF,32px);
      
    }
    
}
//section two-----------------------end