@use '../base/variables';
@use '../base/mixins';
@media (max-width : 375px){
   ul{
    display : none;
    margin-bottom: 0;
   }
   .logo{
    width : 161px;
    height : 30px;
    margin-left: 24px;
    margin-top: 40px;
    margin-bottom: 21px; //don't forget when you do the hero
}
.mobile-nav-icons{
    display : inline-block;
}
.hamburger-icon{
    //if i had a reset folder, I can use that...
   
    margin-right: 24px;
    width : 24px;
    height : 18px;
    margin-top: 46px;
    opacity : 0.5;
}
.cross-icon{
    opacity : 0.5;
    display : none;
    width : 20px;
    height : 20px;
    margin-top: 46px;
    margin-right: 24px;
}

//what happens to the menu in mobile verion
//trial
.menu-mobile{
// display : flex;

padding : 0; //resetting
position : absolute;
display: inline-block;
top : 110px;
left : 97px;
right : 26px;
width : 252px;
height : 292px;
background-color: #191921;

}
li{
    a{
        display: inline-block; //a is an inline element by default
    }
  
   #about-link{
   
    margin : 32px 100px 0px 100px;
   }
   #service-link{
   
    margin : 24px 96px 24px 96px;
   }
   #project-link{
    
    margin : 0px 92px 24px 92px;
   }
}
.nav-link{
    //typography of the navigation links
    @include mixins.nav-link-btns(18px, 400,700);
    
   
 }
.nav-btn{
    // @include mixins.nav-link-btns(800,800);
    @include mixins.button(inline-block,199px, #F94F4F ,64px, 16px,  #fff,  #434356 );
    width : 199px;
    height : 64px;
    margin-left: 27px;
    margin-right: 26px;
    // background-color: variables.$black-btn-color;
    // margin-top: 24px; //padding top of the parent - margin of the child(offset reset)
    margin-bottom: 28px;
    // padding : 23px 21px 41px 45px;
   
 }
 //hero--------------------start

.mobile-hero-img{
    display : block;
    width : 375px;
    height : 250px;
    padding-top: 19px;
    padding-bottom: 31px;
    
}
.hero{
    // border : 1px solid black; //border makes margin work
    
    background: none;
    width : 375px;
    height : 431px;
    padding-top: 25px;
    padding-left: 24px;
    padding-right: 24px;
}
.hero-title-box{
   
    width: 327px;
    height: 129px;
    h1{
      font-size: 40px;
      line-height: 40px; /* 110% */
    }
    // margin-left: 165px;
}
.hero-paragraph-box{
   
    width : 327px;
    margin-top: 15px;
    //no changes in typography
}

.hero-btn{
 
    margin-top: 40px;
    
}
//hero--------------------end

//section one------------------------------start
//layout-----------------------------start
section.section-one{
    
    position : relative;
    // height : 777px;
    background: none;
    

    .section-one-mobile-image{
        margin-top: 46px; //please revisit this, the margin might be off
        display : block;
        width : 375px;
        height : 200px;
    }
    
    .card-one{
       
        background-color: #191921 ;
        width : 375px;
        height : 377px;
        margin-left: 0;
        padding: 72px 24px 0px 24px; //add margin top for the next element
    }
    .card-one-title-box{
        
        width : 327px;
        height : 40px;
        
    }

    .card-one-paragraph-box{
        
        width : 327px;
        height : 100px;
        margin-top: 24px;
        margin-bottom: 40px;
    }
    


.red-wavy-image{
   
    width : 62px;
    height : 29px;
    position : absolute;
    left : 24px;
    top : 185px;
    right : 637px;
    bottom : 363px;
}
}
//layout-------------------------------end
//typography---------------------------start
//typograhy is not needed here because it is the same for mobile and tablet for section one
//typography---------------------------end
}