@use '../base/variables';
@use '../base/mixins';
@media (max-width : 375px){
   ul{
    display : none;
    margin-bottom: 0;
   }
   .logo{
    width : 161px;
    height : 30px;
    margin-left: 24px;
    margin-top: 40px;
    margin-bottom: 21px; //don't forget when you do the hero
}
.mobile-nav-icons{
    display : inline-block;
}
.hamburger-icon{
    //if i had a reset folder, I can use that...
   
    margin-right: 24px;
    width : 24px;
    height : 18px;
    margin-top: 46px;
    opacity : 0.5;
}
.cross-icon{
    opacity : 0.5;
    display : none;
    width : 20px;
    height : 20px;
    margin-top: 46px;
    margin-right: 24px;
}

//what happens to the menu in mobile verion
//trial
.menu-mobile{
// display : flex;

padding : 0; //resetting
position : absolute;
display: inline-block;
top : 110px;
left : 97px;
right : 26px;
width : 252px;
height : 292px;
background-color: #191921;

}
li{
    a{
        display: inline-block; //a is an inline element by default
    }
  
   #about-link{
   
    margin : 32px 100px 0px 100px;
   }
   #service-link{
   
    margin : 24px 96px 24px 96px;
   }
   #project-link{
    
    margin : 0px 92px 24px 92px;
   }
}
.nav-link{
    //typography of the navigation links
    @include mixins.nav-link-btns(18px, 400,700);
    
   
 }
.nav-btn{
    // @include mixins.nav-link-btns(800,800);
    @include mixins.button(inline-block,199px, #F94F4F ,64px, 16px,  #fff,  #434356 );
    width : 199px;
    height : 64px;
    margin-left: 27px;
    margin-right: 26px;
    // background-color: variables.$black-btn-color;
    // margin-top: 24px; //padding top of the parent - margin of the child(offset reset)
    margin-bottom: 28px;
    // padding : 23px 21px 41px 45px;
   
 }
 //hero--------------------start

.mobile-hero-img{
    display : block;
    width : 375px;
    height : 250px;
    padding-top: 19px;
    padding-bottom: 31px;
    
}
.hero{
    // border : 1px solid black; //border makes margin work
    
    background: none;
    width : 375px;
    height : auto;
    padding-top: 25px;
    padding-left: 24px;
    padding-right: 24px;
}
.hero-title-box{
   
    width: 327px;
    height: 129px;
    h1{
      font-size: 40px;
      line-height: 40px; /* 110% */
    }
    // margin-left: 165px;
}
.hero-paragraph-box{
   
    width : 327px;
    margin-top: 15px;
    //no changes in typography
}

.hero-btn{
 
    margin-top: 40px;
    
}
//hero--------------------end

//section one------------------------------start
//layout-----------------------------start
section.section-one{
    
    position : relative;
    height : 577px;
    background: none;
    

    .section-one-mobile-image{
        margin-top: 46px; //please revisit this, the margin might be off
        display : block;
        width : 375px;
        height : 200px;
    }
    
    .card-one{
       
        background-color: #191921 ;
        width : 375px;
        height : 377px;
        margin-left: 0;
        padding: 72px 24px 0px 24px; //add margin top for the next element
    }
    .card-one-title-box{
        
        width : 327px;
        height : 40px;
        
    }

    .card-one-paragraph-box{
        
        width : 327px;
        height : 100px;
        margin-top: 24px;
        margin-bottom: 40px;
    }
    


.red-wavy-image{
   
    width : 62px;
    height : 29px;
    position : absolute;
    left : 24px;
    top : 185px;
    right : 637px;
    bottom : 363px;
}
}
//layout-------------------------------end
//typography---------------------------start
//typograhy is not needed here because it is the same for mobile and tablet for section one
//typography---------------------------end


//section two------------------------------------start
//layout--------------------------------------start
section.section-two{
    //I used position property because of the overlapping contents
    
        background-color: #F94F4F;
        display : flex;
        width : 375px;
        height : 918px;
        position : relative;
        // margin-top: -81px;
        .section-two-title-box{
           
            position: absolute;
            width :327px;
            height : 120px;
            left: 24px;
            top: 96px;
            z-index : 1;
        }
    
    .card-two{
        // border : 1px solid blue;
        
        position : absolute;
        width : 375px;
        height : 653px; // total height - height of the title box(including margins)
        padding: 0px 24px 0 24px; 
        top:  265px;
        left: 0;
        z-index : 0;
        //}
        .card-two-part-one,.card-two-part-two,.card-two-part-three{
            width : 355px;
            height : 159px;
           
        }
        // .card-two-part-one,.card-two-part-two{
        //     margin-bottom: 40px;
        // }
        .card-two-title-box{ //for all the title boxes in card two
            width : 306px;
        }
        .card-two-paragraph-box{
            width : 311px;
        }
        
    }
}
//layout------------------------------------end
//typography-------------------------------start
section.section-two{
    .section-two-title-box{
        h3{
            @include mixins.section-headings-tablet(#FFF);
        }
    }
   
}
//typography---------------------------------end
//section two------------------------------end

//section three----------------------------------------------start
//layout---------------------------------start
section.section-three{
    
  
    width : auto;
  
    // .slider{
    //     background-color: yellow;
    //     border : 1px solid brown;
    //     display: flex;
    //     width: 300%; /* 100% per slide */
    //     transition: transform 1s ease;
    // }
    .all-slides{
   
    width : 100%; //this is important to display the background image
    //background image needs width and height when flexing!!
    background-repeat: no-repeat;
    background-position: center;
    background-size: 375px 404px;
    // margin-top: -64px;
    height : 404px;
    position : relative;
    .card-three{
        
        margin-top: 404px;
        width : 375px;
        height : 272px;
        background-color:#191921;
        position : absolute;
        z-index : 1;
        .card-three-title-box{
         
            width : 327px;
            margin : 64px 24px 0 24px;
        }
       
    }
    .background-inserter-box{
        
        width: 375px;
        height: 111px;
        position : absolute;
        top : 293px;
        left : 0px;
        z-index : 5;
        opacity: 0.75;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);

        .image-caption-box{
            width : 161px;
            height : 40px;
            margin : 36px 32px 35px 181px;
        }
    }

    .white-wavy-image{

        width : 135px;
        height : 61px;
        position : absolute;
        left : 668px;
        top : 186px;
        right : 638px;
        bottom : 482px;
        z-index : 2;
    }
}

    .slide-one{
        
        background-image: url('/assets/mobile/image-slide-1.jpg');
        @extend .all-slides;
        position : absolute;
        z-index : 3;
    
    }
    .slide-two{
        background-image: url('/assets/mobile/image-slide-2.jpg');
        @extend .all-slides;
        position : absolute;
        z-index : 2;
    }
    .slide-three{
        background-image: url('/assets/mobile/image-slide-3.jpg');
        @extend .all-slides;
        position : absolute;
        z-index : 1;
    }
}
//buttons--------------start
.pair-arrow-btns{
  margin : 24px 255px 64px 24px; //only margin changes
}
//buttons---------------end
//layout---------------------------------end
//typography----------------------------start

//there are no changes in typography for this section
//typography-----------------------------end
//section three----------------------------------------------end


//footer-----------------------------------------start
footer{
    padding : 100px 152px 100px 24px;
    width : 100%;
    margin-top: 676px;
    position : relative;
    // svg{
    //    display : none;
    // }
    .footer-content{
        display : flex;
        flex-direction: column;
        align-items: flex-start;
        gap : 47px;
        .footer-title-box{
            width: 327px;
            height: auto;
        }
    }
}
//footer------------------------------------------end
//no changes in typography in the footer
}