@use '../base/variables';
@use '../base/mixins';

@media (max-width : 768px) {
   //header-------------------start
   header{
   
    display : flex;
    gap : 130px;
   
}
ul{
    width : 438px;
    height : 178px;
    
    list-style: none;
     display : flex;
    //  background-color: variables.$primary-red-color;
     padding-top: 73px;
     padding-bottom: 73px;
     padding-left: 33px;

    

     .nav-link{
        @include mixins.nav-link-btns(15px,400,700);
        margin-right: 20px;
     }
   
}
.logo{
    width : 161px;
    height : 30px;
    margin-left: 39px;
    margin-top: 74px;
    margin-bottom: 74px;
}
//the nav btn----start
.nav-btn{
    @include mixins.nav-link-btns(800,800);
    width : 147px;
    height : 64px;
    margin-left: 8px; //margin right of the last nav link + 8px = 28px (desired margin)
    background-color: variables.$black-btn-color;
    margin-top: -17px; //padding top of the parent - margin of the child(offset reset)
    // padding : 23px 21px 41px 45px;
   
 }
//the nav btn ------end
.mobile-nav-icons{
    display : none; //for tablet, we don't need mobile navigation icons
}
//header-----------------end

//hero----------------start
.hero{
    // border : 1px solid black; //border makes margin work
   
    background-image: url('/assets/tablet/image-hero.jpg');
    background-repeat: no-repeat;
    background-position: right;
    height : 606px;
    padding-top: 77px;
    padding-left: 39px;
}
.hero-title-box{
   
    width: 398px;
    height: 181px;
    h1{
      font-size: 56px;
    line-height: 56px; /* 110% */
    }
    // margin-left: 165px;
}
.hero-paragraph-box{
   
    width : 398px;
    margin-top: 39px;
    
    p.hero-paragraph{
       font-size: 15px;
       line-height: 25px; /* 177.778% */
    }
   
}

.hero-btn{
    border : none;
    margin-top: 32px;
    
}
.mobile-hero-img{
    display : none;
}
}