@use '../base/variables';
@use '../base/mixins';

@media (max-width : 768px) {
   //header-------------------start
   header{
   
    display : flex;
    gap : 130px;
   
}
ul{
    width : 438px;
    height : 178px;
    
    list-style: none;
     display : flex;
    //  background-color: variables.$primary-red-color;
     padding-top: 73px;
     padding-bottom: 73px;
     padding-left: 33px;

    

     .nav-link{
        @include mixins.nav-link-btns(15px,400,700);
        margin-right: 20px;
     }
   
}
.logo{
    width : 161px;
    height : 30px;
    margin-left: 39px;
    margin-top: 74px;
    margin-bottom: 74px;
}
//the nav btn----start
.nav-btn{
    @include mixins.nav-link-btns(800,800);
    width : 147px;
    height : 64px;
    margin-left: 8px; //margin right of the last nav link + 8px = 28px (desired margin)
    background-color: variables.$black-btn-color;
    margin-top: -17px; //padding top of the parent - margin of the child(offset reset)
    // padding : 23px 21px 41px 45px;
   
 }
//the nav btn ------end
.mobile-nav-icons{
    display : none; //for tablet, we don't need mobile navigation icons
}
//header-----------------end

//hero----------------start
.hero{
    // border : 1px solid black; //border makes margin work
   
    background-image: url('/assets/tablet/image-hero.jpg');
    background-repeat: no-repeat;
    background-position: right;
    height : 606px;
    padding-top: 77px;
    padding-left: 39px;
}
.hero-title-box{
   
    width: 398px;
    height: 181px;
    h1{
      font-size: 56px;
    line-height: 56px; /* 110% */
    }
    // margin-left: 165px;
}
.hero-paragraph-box{
   
    width : 398px;
    margin-top: 39px;
    
    p.hero-paragraph{
       font-size: 15px;
       line-height: 25px; /* 177.778% */
    }
   
}

.hero-btn{
    border : none;
    margin-top: 32px;
    
}
.mobile-hero-img{
    display : none;
}
//hero------------------------------------end

//section one ---------------------------------start
//layout----------------------------------start
section.section-one{
    position : relative;
    height : 658px;
    //I had used a desktop background...changed it to desktop
    background: url('/assets/tablet/image-strategic.jpg') lightgray 0px 0px / 100% 100% no-repeat;
    background-size: 378px 658px;
    .section-one-mobile-image{
        display : none; //we don't need to see this for tablet
    }
    .card-one{
       
       
        width : 390px;
        height : 538px;
        margin-left: 378px;
        padding: 120px 40px 0px 69px; //add margin top for the next element
    }
    .card-one-title-box{
       
        width : 281px;
        height : 80px;
        
    }

    .card-one-paragraph-box{
        
        width : 281px;
        height : 125px;
        margin-top: 32px;
        margin-bottom: 32px;
    }
    

.card-one-link{
    a {
        
        position: relative;     
    }
  
    a::after {
        content: '';      
        position: absolute;    
        left: 0;
        bottom: -9px;          
        width: 100%;           
        height: 2px;           
  }

}
.red-wavy-image{

    width : 63px;
    height : 29px;
    position : absolute;
    left : 346px;
    top : 145px;
    right : 359px;
    bottom : 484px;
}
}
//layout-----------------------------------------end
//typography-----------------------------------------start
.card-one{


    .card-one-title{
       @include mixins.section-headings-tablet(#FFF);
    }
    // span.red-highlighted-text{
    //     color : #F94F4F;
    // }
    .card-one-paragraph{
        @include mixins.all-paragraphs(#FFF, 25px);
        font-size : 15px;
    }
    .card-one-link{
       
        a{
          font-size: 15px;
        }
    }
} //don't delete this bracket
//typography------------------------------------------end
//section one -------------------------------------end


//section two----------------------------------start
//layout-------------------------------------start
section.section-two{
    //I used position property because of the overlapping contents
        height : 677px; //height needs to be adjusted
        display : flex;
        position : relative;
        .section-two-title-box{
            position: absolute;
            width : 281px;
            height : 120px;
            left: 39px;
            top: 126px;
            z-index : 0;
        }
    
    .card-two{
        background-color: #F94F4F;
        position : absolute;
        width : 438px;
        height : 797px;
        padding: 120px 40px 0 43px; 
        top: -120px;
        left: 330px;
        z-index : 0;
        //}
        .card-two-part-one,.card-two-part-two,.card-two-part-three{
            width : 355px;
            height : 159px;
           
        }
        .card-two-part-one,.card-two-part-two{
            margin-bottom: 40px;
        }
        .card-two-title-box{ //for all the title boxes in card two
            width : 334px;
            height : 25px;
            margin-top: -44px;
            margin-left: 16px;
            margin-bottom: 15px;
        
        }
        .card-two-paragraph-box{
            width : 339px;
            height : 75px;
            margin-left: 16px;
            
        }
        
       
    }
    }
//layout--------------------------------------end
//typography----------------------------------start
section.section-two{
    .section-two-title-box{
        h3{
            @include mixins.section-headings-tablet(#000) //for tablet
        }
       
    }
}
.card-two{
    
    .card-two-title{ //for each heading in card two
        @include mixins.card-two-titles(15px);
    }
    .card-two-paragraph{ //for each paragraph in card two
        @include mixins.all-paragraphs(#FFF,25px);
        font-size: 15px;
    }
    
}
//typography----------------------------------end
//section two------------------------------------end

//section three----------------------------------------------start
//layout-------------------------------------------start
section.section-three{
    // display : flex;
    flex-direction: column;
    position : relative;
    width : auto;
    // .slider{
    //     background-color: yellow;
    //     border : 1px solid brown;
    //     display: flex;
    //     width: 300%; /* 100% per slide */
    //     transition: transform 1s ease;
    // }
    .all-slides{

    width : 100%; //this is important to display the background image
    //background image needs width and height when flexing!!
    background-repeat: no-repeat;
    background-position: right;
    background-size: 438px 472px;
    margin-top: 0px;
    height : 472px;
    position : relative;
    .card-three{
        width : 390px;
        height : 352px;
        background-color:#191921;
        position : absolute;
        z-index : 1;
        .card-three-title-box{
            width : 281px;
            margin : 100px 70px 0px 39px;
        }
       
    }
    .background-inserter-box{
        background-color: yellow;
        width: 438px;
        height: 130px;
        position : absolute;
        top : 345px;
        left : 330px;
        z-index : 5;
        opacity: 0.75;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);

        .image-caption-box{
            width : 161px;
            height : 40px;
            margin : 45px 40px 45px 236px;
        }
    }

    .white-wavy-image{
        width: 62.533px;
        height: 28.525px;
        position : absolute;
        left : 359px;
        top : 129px; //left and top are adequate
        transform: rotateY(180deg); //the svg flips over for tablet
        z-index : 2;
    }
}

    .slide-one{
        
        background-image: url('/assets/desktop/image-slide-1.jpg');
        @extend .all-slides;
        position : absolute;
        z-index : 3;
    
    }
    .slide-two{
        background-image: url('/assets/desktop/image-slide-2.jpg');
        @extend .all-slides;
        position : absolute;
        z-index : 2;
    }
    .slide-three{
        background-image: url('/assets/desktop/image-slide-3.jpg');
        @extend .all-slides;
        position : absolute;
        z-index : 1;
    }
}
//buttons--------------start
.pair-arrow-btns{
  margin : 32px 255px 100px 39px; //only margin changes
}
//buttons--------------end
//layout-------------------------------------------end

//typography---------------------------------------start
section.section-three{
    .card-three{
        h3{
            @include mixins.section-headings-tablet(#FFF);
        }
      
       
       
    }
    .image-caption-box{
        .caption-title{
         @include mixins.card-two-titles(15px);
         line-height: 20px;
          text-align: right;
           
           
        }
        .caption-text{
            @include mixins.all-paragraphs(#FFF, 20px);
            font-size: 15px;
            text-align: right;
        }
    }
}
//typography----------------------------------------end
//section three-----------------------------------------------end

//footer layout--------------------------------------------start
footer{
    padding : 70px 40px 109px 39px;
    margin-top: 472px;
    svg{
        display : none;
    }
    .footer-content{
        gap : 92px;
        .footer-title-box{
            width: 398px;
            height: 80px;
        }
    }
}
//footer layout----------------------------------------------end

//footer typography------------------------------------------start
footer{
    h4{
        @include mixins.section-headings-tablet;
    }
   
}
//footer typography------------------------------------------end
}